@{
  ViewData["Title"] = $"Edit {Model.Name}";
}

@model CretaceousClient.Models.Animal

<h4>Edit @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AnimalId)
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @Value = Model.Name})
  <br />
  @Html.LabelFor(model => model.Species)
  @Html.TextBoxFor(model => model.Species, new { @Value = Model.Species})
  <br />
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age, new { Value = Model.Age})
  <br />
  <br />
  <input type="submit" value="Edit animal" class="btn btn-primary"/>
}

<br />
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.AnimalId})</p>